{% extends 'base/base_adminlte.html' %}
{% block extra_head %}

{% endblock %}


{% block content %}
<div class="container-fluid mt-3">
    <strong style="font-size: 1.5rem; color: #1E3A5F;"><i class="bi bi-list-ol"></i> {{title}}</strong>
    <form method="GET">
        
        <div class="col-sm-8 col-md-8 col-lg-4" style="display: flex;">
            <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Buscar por {{ parametroBusqueda }}" aria-label="Busqueda" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary">Buscar</button>
            </div>
          </div>
    </form>
    <table class="table mt-1">
        <thead class="table-dark">
            {% block thead %}

            {% endblock %}
        </thead>
        <tbody>
            {% block tbody %}
            
            {% endblock %}
        </tbody>
    </table>
</div>
<!-- Controles de paginación -->
<div>
    {% if is_paginated %}
    <nav aria-label="Paginación">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}">Anterior</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Anterior</span>
            </li>
          {% endif %}
  
          {% for num in paginator.page_range %}
            {% if num == page_obj.number %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{ num }}</span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?q={{ query }}&page={{ num }}">{{ num }}</a>
              </li>
            {% endif %}
          {% endfor %}
  
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}">Siguiente</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Siguiente</span>
            </li>
          {% endif %}
        </ul>
      </nav>
      
    {% endif %}
</div>
</div>
{% endblock %}

