{% extends 'base/base_adminlte.html' %}
{% block extra_head %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.querySelector("form");
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            Swal.fire({
                title: "¿Está seguro?",
                text: "Esta acción creará un nuevo registro.",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#0077cc",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sí, guardar",
                cancelButtonText: "Cancelar"
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
</script>
{% block inheritance_head %} {% endblock %}
{% endblock %}

{% block content %}
    
<div class="container-fluid mt-3">
    
    <div class="card">
        <div class="card-header text-center">
            <strong style="font-size: 1.5rem; color: #1E3A5F;"><i class="bi bi-folder-plus" style="color: #4caf50;"></i> {{title}}</strong>
        </div>
        <div class="container-fluid mt-3 pb-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors|striptags }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary mt-2">Guardar Cambios</button>
            </form>
        </div>
</div>
{% endblock %}