{% load static %}
{% load custom_filters %}
<aside class="app-sidebar" data-bs-theme="">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand">
      <!--begin::Brand Link-->
      <a href="{% url 'home-url' %}" class="brand-link">
        <!--begin::Brand Image-->
        <img
          src="{% static 'img/logo.png' %}"
          alt="Gestor Logo"
          class="brand-image opacity-75 shadow"
          style="border-radius: 3px;"
        />
        <!--end::Brand Image-->
        <!--begin::Brand Text-->
        <span class="brand-text fw-light">Gestor Documental</span>
        <!--end::Brand Text-->
      </a>
      <!--end::Brand Link-->
    </div>
    <!--end::Sidebar Brand-->
    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
      <nav class="mt-2">
        <!--begin::Sidebar Menu-->
        <ul
          class="nav sidebar-menu flex-column"
          data-lte-toggle="treeview"
          role="menu"
          data-accordion="false"
        >
          {% for module in modulos_sistema %}
          <li class="nav-item">
            <a href="#" class="nav-link nav-topmenu">
              <i class="nav-icon {{module.icon}}"></i>
              <p>
                {{ module.name }}
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              {% for submodule in module.submodule_set.all|filter_visible %}
                <li class="nav-item">
                  <a href="{% url submodule.url_name %}" class="nav-link nav-sublink">
                    <i class="nav-icon bi bi-circle"></i>
                    <p>{{ submodule.name }}</p>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
        <!--end::Sidebar Menu-->
      </nav>
    </div>
    <!--end::Sidebar Wrapper-->
  </aside>